*{
    margin: 0;
    padding: 0;
}
div{
    text-align: center;
    margin-top: 30px;
}
img{
    width: 25%;
}
.botoes{
  width: 100px;
  height: 50px;
}
p{
    text-align: center;
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(255, 255, 255);
}